<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <link rel = "stylesheet" type = "text/css" href = "/css/Home.css" />
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Home</a></li>
                <li class="main-header__item"><a href="/admin/addNewDevice">Add Device</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>All Devices List </h1>
        <p>List of all the Devices...</p>
    </main>
</body>

</html>